body {
    margin: 0;
    background-image: url(SfondoSito.jpg);
    background-size: cover;
    background-position: center;
}

video{
    width: 100%;
    height: auto;
}

img {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    left: 20;
}

.header, .aside, .FirstStory, .SecondStory {
    width: 100%;
}

.header, .aside{
    background-color: DarkBlue;
    font-size: 24px;
    font-family: Arial;
    color: LightBlue;
    padding: 10px;
    text-align: center;
}

.WhiteCarStory, .BlackCarStory {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.WhiteCarStory {
    background-image: url("AutoBianca.jpg");
    background-size: cover; /* Per adattare l'immagine alle dimensioni del pulsante */
    color: white;
    border: 4px solid orange;
    border-radius: 10px; 
    position: absolute;
    top: 93%;
    right: 60%;
    transform: translate(0, -50%);
    width: 150px;
    height: 100px;
}

.BlackCarStory {
    background-image: url("AutoNera.jpg");
    background-size: cover; /* Per adattare l'immagine alle dimensioni del pulsante */
    color: white;
    border: 4px solid orange;
    border-radius: 10px; 
    position: absolute;
    top: 93%;
    right: 20%;
    transform: translate(0, -50%);
    width: 150px;
    height: 100px;
}
