body {
    margin: 0;
}

img {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    left: 20;
}

.header, .aside, .footer, .FirstStory, .SecondStory {
    width: 100%;
}

.header, .aside{
    background-color: DarkBlue;
    font-size: 24px;
    font-family: Arial;
    color: LightBlue;
    padding: 10px;
    text-align: center;
}

.FirstStory, .SecondStory {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 10%;
}

.FirstStory {
    background-color: orange;
    color: white;
    border: 4px solid orange;
    border-radius: 10px; 
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translate(0, -50%);
}

.SecondStory {
    background-color: red;
    color: white;
    border: 4px solid red;
    border-radius: 10px; 
    position: absolute;
    top: 50%;
    right: 60%;
    transform: translate(0, -50%);
}
