.header
{
    background-color: darkgrey;
    font-size: 24px;
    font-family: Arial;
    color: black;
    padding: 10px;
    text-align: center;
}

.aside 
{
    background-color: darkgrey;
    font-size: 24px;
    font-family: Arial;
    color: black;
    padding: 10px;
    text-align: center;
}

.FirstStory 
{
    position:absolute;
    top: 10;
    left: 10;
    width: auto;
    height: auto;
    background-color: orangered;
    font-family: Arial;
    color: white;
    text-align: center;
    border: 4px solid orangered;
    border-radius: 10px; 
}

.SecondStory 
{
    position:absolute;
    top: 10;
    right: 10;
    width: auto;
    height: auto;
    background-color: blue;
    font-family: Arial;
    color: white;
    text-align: center;
    border: 4px solid blue;
    border-radius: 10px; 
}

.ThirdStory 
{
    position:absolute;
    bottom: 10;
    left: 0;
    width: auto;
    height: auto;
    background-color: orangered;
    font-family: Arial;
    color: white;
    text-align: center;
    border: 4px solid orangered;
    border-radius: 10px; 
}

.FourhStory 
{
    position:absolute;
    bottom: 10;
    right: 10;
    width: auto;
    height: auto;
    background-color: blue;
    font-family: Arial;
    color: white;
    text-align: center;
    border: 4px solid blue;
    border-radius: 10px; 
}
